﻿@model Persons_app.Models.Person

<form method="post" asp-action="Create" id="person_form">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Add Person</h2>

        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="username"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="username" class="form-control" />
                        <span asp-validation-for="username" class="text-danger" ></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="phone"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="phone" class="form-control" />
                        <span asp-validation-for="phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="address"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="address" class="form-control" />
                        <span asp-validation-for="address" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="country"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="country" class="form-control">
                            <option selected disabled>--Select Country--</option>
                        </select>
                        <span asp-validation-for="country" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="comments"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="comments" class="form-control" cols="4" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Persons List</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</form>


@section scripts {

@{ <partial name="_ValidationScriptsPartial"/>}

    <script type="text/javascript">

        $(document).ready(function () {

            getCountries()//get countries from the country api
                .then(result => {
                    result.forEach(element => {

                        $('<option>', { value: element.name, text: element.name }).appendTo('#country')

                    });

                })
                .catch(err => console.log(err));

            async function getCountries() {
                const response = await fetch(`https://restcountries.eu/rest/v2/all`);
                const responseData = await response.json();

                return responseData;
            }

            $("#person_form").submit(function (e) {

               e.preventDefault();//prevent the form from submitting

                //person object to insert into database
                var psn = {
                    __RequestVerificationToken: $("[name='__RequestVerificationToken']").val(),
                    username : $("#username").val(), 
                    phone : $("#phone").val(),
                    address : $("#address").val(),
                    country : $("#country").val(),
                    comments : $("#comments").val()
                };

                $.ajax(
                    {
                        type: "POST", //HTTP POST Method  
                        url: "Person/Create", // Controller/View   
                        data: psn,
                        success: function (person) {

                            if (person.username) {

                                alert("Data of username (" + person.username + ")has been added successfully.");

                                //clearing all feilds after insert
                                $("#username").val(""); 
                                $("#phone").val("");
                                $("#address").val("");
                                $("#country").val("");
                                $("#comments").val("");
                                $("#username").focus();
                            } else {
                                alert("Please make sure all feilds are entered correctly");
                            }
                                                

                        },
                        error: function () {
                            alert("Please make sure all feilds are entered correctly");
                        }
                    });
            })
       
        });

    </script>

}