﻿@model IEnumerable<Persons_app.Models.Person>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Person List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Person" asp-action="Create" class="btn btn-primary">
                Create New Person
            </a>

            <a asp-controller="Person" asp-action="ExportToXML" class="btn btn-primary">
                Export to XML
            </a>
        </div>
    </div>

    <br /><br />

    @if(Model.Count()>0)
            {
        <table class="table table-bordered table-striped " style="width:100%">
            <thead>
                <tr>
      
                    <th>
                        UserName
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Comment
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model)
                {
                <tr>
                   
                    <td width="10%">@obj.username</td>
                    <td width="20%">@obj.phone</td>
                    <td width="25%">@obj.address</td>
                    <td width="10%">@obj.country</td>
                    <td width="30%">@obj.comments</td>


                </tr>
                }
            </tbody>
        </table>
    }
    else
            {
                <p>No Person exists</p>
            }
</div>